/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* share styles */

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 21px 25px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;

}
.text-light-gray{
    color: #727272;
    line-height: 26px;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.section-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* font-weight: 700; */
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main section styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-content-title{
    font-size: 2.8rem;
}
.quick{
    font-weight: 500;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}




/* responsive style */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
   .teams-container{
        flex-direction: column-reverse;
    }
      .teams-img-container{
        grid-template-columns: 1fr;
       
    }  
    .btn-primary{
        margin-bottom: 15px;
    } 
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablet devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 40px;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .btn-primary{
        margin-bottom: 15px;
    } 
}